*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0D0D0D;
}

.container {
    display: flex;
    gap: 3%;
}

.grid {
    box-sizing: initial;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #348899;
    border: 2px solid grey;
}

.grid div {
    cursor: pointer;
    width: 10%;
    height: 10%;
    border: 1px solid white;
}

.grid div.hit {
    background-color: red;
}

.grid div.miss {
    background-color: white;
}

.grid-display.vertical {
    display: flex;
}

.grid-display .ship {
    margin: 20px;
    height: 40px;
    display: flex;
}

.grid-display.vertical .ship {
    width: 40px;
    display: block;
}

.destroyer-container {
    width: 80px;
}

.grid-display.vertical .destroyer-container {
    height: 80px;
}

.submarine-container {
    width: 120px;
}

.grid-display.vertical .submarine-container {
    height: 120px;
}

.cruiser-container {
    width: 160px;
}

.grid-display.vertical .cruiser-container {
    height: 160px;
}

.battleship-container {
    width: 200px;
}

.grid-display.vertical .battleship-container {
    height: 200px;
}

.carrier-container {
    width: 240px;
}

.grid-display.vertical .carrier-container {
    height: 240px;
}

.ship div {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.destroyer {
    background-color: orange;
}

.submarine {
    background-color: pink;
}

.cruiser {
    background-color: blue;
}

.battleship {
    background-color: green;
}

.carrier {
    background-color: yellow;
}

.connected,
.ready {
    font-weight: normal;
}

.connected span,
.ready span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: red;
    border-radius: 50%;
}

.connected span.green,
.ready span.green {
    background: green;
}